<div class="wu">
  <div class="wu__title">
    <div class="item">
      <h3>Success Stories</h3>
      <p>
        Discover how teams work <br />
        strategically and grow together .
      </p>
    </div>
    <div class="item">
      <h3>Review</h3>
      <p>
        See what it's like to collaborate on<br />
        Upwork.
      </p>
    </div>
    <div class="item">
      <h3>How to hire</h3>
      <p>
        Learn about the different ways to get <br />
        work done.
      </p>
    </div>
    <div class="item">
      <h3>How to find work</h3>
      <p>
        Learn about how to grow your <br />
        independent career
      </p>
    </div>
  </div>
  <div class="wu__guide">
    <h2>where work gets done</h2>
    <div class="wu__guide__item">
      <p>Guides</p>
      <h3>Getting Started as a Freelancer</h3>
    </div>
    <div class="wu__guide__item">
      <p>Guides</p>
      <h3>Growing Your Freelance Career</h3>
    </div>
    <div class="wu__guide__item">
      <p>Guides</p>
      <h3>Hiring & working with Independent Talent</h3>
    </div>
    <a>See Resources</a>
  </div>
</div>
