.footer {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  margin: auto;
  background-color: var(--black);
  color: var(--white);
  padding: 60px 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    margin-bottom: 5px;
  }
}
