.logo {
  height: 22.5px;
  margin-top: 10px;
  margin-right: 16px;
}

.btn {
  font-size: 16px;
  background-color: transparent;
  border: none;
  padding: 0 20px;
}

.header {
  padding: 12px 24px 0;
  border-bottom: 1px solid var(--gray-light);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: calc(100vw - 48px);
  background-color: var(--white);
  z-index: 99;
  &__left {
    display: flex;

    &__select {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0 0 0 20px;

      &__li {
        display: flex;
        align-items: center;
        margin-right: 16px;
        color: var(--black);
        transition: color 0.2s ease-in-out;
        padding-bottom: 16px;
        padding-top: 12px;
        &:hover {
          color: var(--green-light);
        }

        &:hover .arrow {
          transform: rotate(180deg);
        }

        .arrow {
          transition: transform 0.2s ease-in-out;
          vertical-align: middle;
        }
      }
    }
  }

  &__right {
    display: flex;

    &__search {
      border: 2px solid var(--gray-light);
      width: 328px;
      height: 36px;
      border-radius: 20px;
      margin-left: 16px;
      display: flex;
      &__text {
        display: flex;
        align-items: center;
      }
      &__option {
        display: flex;
        align-items: center;
      }
    }
  }

  &__bottom {
    text-decoration: none;
    position: fixed;
    top: 65px;
    background-color: var(--white);
    width: 100vw;
    z-index: 5;
    ul {
      text-decoration: none;
      list-style: none;
      display: flex;
      padding: 10px 24px;
      margin: 0;
      li {
        padding: 10px;
        a {
          text-decoration: none;
          color: var(--black);
        }
      }
    }
  }
}

.input {
  &__custom {
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }
  &__text {
    width: 161px;
    margin: 0 20px;
  }
  &__option {
    border-left: 1px solid var(--gray-light);
    padding-left: 15px;
    font-size: 16px;
    width: 85px;
  }
}

.icon {
  margin-top: 2px;
  margin-left: 10px;
}

.navHeader {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100vw;
  z-index: 6;
}
