<div class="header">
  <div class="header__left">
    <svg viewBox="0 0 102 28" class="logo">
      <use href="../../../../../assets/sgv/logo.svg#logo"></use>
    </svg>
    <ul class="header__left__select">
      <li class="header__left__select__li">
        Find Talent <mat-icon class="arrow">keyboard_arrow_down</mat-icon>
      </li>
      <li class="header__left__select__li">
        Find Work <mat-icon class="arrow">keyboard_arrow_down</mat-icon>
      </li>
      <li class="header__left__select__li">
        Why Upwork <mat-icon class="arrow">keyboard_arrow_down</mat-icon>
      </li>
      <li class="header__left__select__li">Enterprise</li>
    </ul>
  </div>
  <div class="header__right">
    <div class="header__right__search">
      <div class="header__right__search__text">
        <mat-icon>search</mat-icon>
        <!-- <mat-form-field hintLabel="Max 10 characters" appearance="fill">
          <input matInput #input />
        </mat-form-field> -->
      </div>
      <div class="header__right__search__option">
        <mat-form-field appearance="fill">
          <mat-select>
            <mat-option value="option">Talen</mat-option>
            <mat-option value="option">Project</mat-option>
            <mat-option value="option">Job</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <button class="btn">Login</button>
    <app-button type="normal" text="Sign Up"></app-button>
  </div>
</div>
