<div class="header">
  <div class="header__left">
    <svg viewBox="0 0 102 28" class="logo" (click)="goTo('welcome')">
      <use href="../../../../../assets/sgv/logo.svg#logo"></use>
    </svg>
    <ul class="header__left__select">
      <li
        class="header__left__select__li"
        *ngFor="let type of types; let i = index"
        (mouseenter)="onTagHover(type)"
        (mouseleave)="onTagLeave(type)"
        [ngClass]="{ active: type.active }"
      >
        {{ type.name }}<mat-icon class="arrow">keyboard_arrow_down</mat-icon>
        <div *ngIf="type.active" class="navHeader test">
          <ng-container
            *ngComponentOutlet="getComponent(type.id)"
          ></ng-container>
        </div>
      </li>
      <li class="header__left__select__li">Enterprise</li>
    </ul>
  </div>
  <div class="header__right">
    <div class="header__right__search">
      <div class="header__right__search__text">
        <mat-icon class="icon">search</mat-icon>
        <input class="input__custom input__text" />
      </div>
      <div class="header__right__search__option">
        <select class="input__custom input__option">
          <option class="input__custom__option">Talent</option>
          <option class="input__custom__option">Project</option>
          <option class="input__custom__option">Job</option>
        </select>
      </div>
    </div>
    <button class="btn" (click)="goToAuth('signIn')">Log In</button>
    <app-button
      type="normal"
      text="Sign Up"
      (click)="goToAuth('signUp')"
    ></app-button>
  </div>
</div>
<div class="header__bottom">
  <ul>
    <li *ngFor="let category of categories">
      <a href="">{{ category }}</a>
    </li>
    <li class="header__left__select__li">
      More <mat-icon class="arrow">keyboard_arrow_down</mat-icon>
    </li>
  </ul>
</div>
