<div class="welcome">
  <div class="welcome__banner1">
    <div class="welcome__banner1__info">
      <h1>
        How work <br />
        should work
      </h1>
      <h3>
        Forget the old rules. You can have the best people. <br />
        Right now. Right here.
      </h3>
      <app-button type="normal" text="Get started"></app-button>
      <h4>Trusted by</h4>
      <div class="welcome__banner1__info__logos">
        <img src="../../../../../assets/imgs/microsoft.svg" alt="" />
        <img src="../../../../../assets/imgs/airbnb.svg" alt="" />
        <img src="../../../../../assets/imgs/bissell.svg" alt="" />
      </div>
    </div>
    <div class="welcome__banner1__picture">
      <img src="../../../../../assets/imgs/banner1.jpg" />
    </div>
  </div>

  <div class="welcome__banner2">
    <div class="welcome__banner2__picture">
      <img src="../../../../../assets/imgs/banner2.png" />
    </div>
    <div class="welcome__banner2__info">
      <h1 class="welcome__heading">Up your work game, it’s free.</h1>
      <div class="welcome__banner2__info__detail">
        <svg viewBox="0 0 24 24">
          <use href="../../../../../assets/sgv/icon1.svg#icon1"></use>
        </svg>
        <div>
          <h2>No cost to join.</h2>
          <p>
            Register and browse professionals, explore projects, or even book a
            consultation.
          </p>
        </div>
      </div>
      <div class="welcome__banner2__info__detail">
        <svg viewBox="0 0 24 24">
          <use href="../../../../../assets/sgv/icon2.svg#icon2"></use>
        </svg>
        <div>
          <h2>Post a job and hire top talent.</h2>
          <p>
            Finding talent doesn’t have to be a chore. Post a job or we can
            search for you!
          </p>
        </div>
      </div>
      <div class="welcome__banner2__info__detail">
        <svg viewBox="0 0 24 24">
          <use href="../../../../../assets/sgv/icon3.svg#icon3"></use>
        </svg>
        <div>
          <h2>Work with the best—without breaking the bank.</h2>
          <p>
            Upwork makes it affordable to up your work and take advantage of low
            transaction rates.
          </p>
        </div>
      </div>
      <div class="welcome__banner2__info__buttons">
        <app-button type="normal" text="Sign up for free"></app-button>
        <app-button type="transparent" text="Learn how to hire"></app-button>
      </div>
    </div>
  </div>

  <div class="welcome__banner3">
    <h1 class="welcome__heading">Browse talent by category</h1>
    <p>Looking for work ? <a href="">Brower jobs</a></p>
    <div class="welcome__banner3__category">
      <app-catgory-tile
        [title]="'Development & IT'"
        [rate]="4.85"
        [skill]="1853"
      ></app-catgory-tile>
      <app-catgory-tile
        [title]="'Design & Creative'"
        [rate]="4.91"
        [skill]="968"
      ></app-catgory-tile>
      <app-catgory-tile
        [title]="'Sales & Marketing'"
        [rate]="4.77"
        [skill]="392"
      ></app-catgory-tile>
      <app-catgory-tile
        [title]="'Writing & Translation'"
        [rate]="4.92"
        [skill]="505"
      ></app-catgory-tile>
    </div>
    <div class="welcome__banner3__category">
      <app-catgory-tile
        [title]="'Admin & Customer Support'"
        [rate]="4.77"
        [skill]="508"
      ></app-catgory-tile>
      <app-catgory-tile
        [title]="'Finance & Accounting'"
        [rate]="4.79"
        [skill]="214"
      ></app-catgory-tile>
      <app-catgory-tile
        [title]="'Engineering & Architecture'"
        [rate]="4.85"
        [skill]="650"
      ></app-catgory-tile>
      <app-catgory-tile
        [title]="'Legal'"
        [rate]="4.85"
        [skill]="133"
      ></app-catgory-tile>
    </div>
  </div>

  <div class="welcome__banner4">
    <img src="../../../../../assets/imgs/banner4.png" alt="" />
  </div>

  <div class="welcome__banner5">
    <img src="../../../../../assets/imgs/banner5.png" alt="" />
  </div>

  <div class="welcome__banner6">
    <img src="../../../../../assets/imgs/banner6.png" alt="" />
  </div>

  <div class="welcome__banner7">
    <h1>
      Trusted by leading <br />
      brands and startups
    </h1>
    <app-carousel></app-carousel>
  </div>
</div>
