<div class="ft">
  <div>
    <ul class="ft__title">
      <li>
        <div>
          <h2>Post a job and hire a pro</h2>
          <h3>Talent Marketplace</h3>
        </div>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </li>
      <li>
        <div>
          <h2>Browse and buy projects</h2>
          <h3>Project Catalog</h3>
        </div>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </li>
      <li>
        <div>
          <h2>Let us find you the right talent</h2>
          <h3>Talent Scout</h3>
        </div>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </li>
    </ul>
  </div>
  <div>
    <div class="ft__content">
      <div>
        <h1>Talent Marketplace</h1>
        <h3>
          Learn about working with talent or explore your <br />
          specific hiring needs.
        </h3>
        <a
          >Hire on Talent Marketplace
          <mat-icon class="ft__content__icon">arrow_right_alt</mat-icon>
        </a>
      </div>
      <div>
        <ul class="ft__content__list">
          <li>Development & IT</li>
          <li>Design & Creative</li>
          <li>Sales & Marketing</li>
          <li>Writing & Translation</li>
          <li>Admin & Customer Support</li>
          <li>Finance & Accounting</li>
          <li>HR & Training</li>
          <li>Legal</li>
          <li>Engineering & Architecture</li>
          <li>Hire freelancers</li>
        </ul>
      </div>
    </div>
  </div>
</div>
