<div class="work">
  <div class="work__banner1">
    <div class="">
      <div class="work__banner1__title">
        <h1>
          Do the work you <br />
          love, your way
        </h1>
        <p>
          Build rewarding relationships in the world’s Work <br />
          Marketplace. Your home for the work you want.
        </p>
        <app-button type="normal2" text="Sign Up"></app-button>
      </div>
      <div class="work__banner1__bottom">
        <h2>Trusted by</h2>
        <div class="work__banner1__bottom__logo">
          <img src="../../../../../assets/sgv/micro.svg" alt="" />
          <img src="../../../../../assets/sgv/air.svg" alt="" />
          <img src="../../../../../assets/sgv/bis.svg" alt="" />
          <img src="../../../../../assets/sgv/go.svg" alt="" />
        </div>
      </div>
    </div>
    <img
      class="work__banner1__img"
      src="../../../../../assets/imgs/wbanner1.png"
    />
  </div>

  <div class="work__banner2"></div>

  <div class="work__banner3">
    <div>
      <h1>Our award-winning platform</h1>
      <ul class="work__banner3__checkList">
        <li>
          <mat-icon class="work__banner3__checkList__logo">check</mat-icon>
          <p>
            <b>Take control</b> Find work that hits your financial goals <br />
            faster with ambitious startups and well-known brands.
          </p>
        </li>
        <li>
          <mat-icon class="work__banner3__checkList__logo">check</mat-icon>
          <p>
            <b>Create lasting relationships.</b> Build a predictable pipeline
            <br />
            of projects, big and small, through strong connections.
          </p>
        </li>
        <li>
          <mat-icon class="work__banner3__checkList__logo">check</mat-icon>
          <p>
            <b>Work and earn your way.</b> Search for jobs or have clients
            <br />
            come to you. The opportunities are endless.
          </p>
        </li>
        <li>
          <mat-icon class="work__banner3__checkList__logo">check</mat-icon>
          <p>
            <b>Connect & engage.</b> Learn, share information, and build <br />
            your community with like-minded professionals.
          </p>
        </li>
      </ul>
      <app-button type="normal" text="Create Your Profile"></app-button>
    </div>
    <div class="work__banner3__review">
      <div class="work__banner3__review__item">
        <h1>4.9/5</h1>
        <p>
          rating of clients by <br />
          professionals
        </p>
      </div>
      <div class="work__banner3__review__item">
        <h1>Logo 2021</h1>
        <p>#1 freelance platform</p>
      </div>
      <div class="work__banner3__review__item">
        <h1>49K+</h1>
        <p>
          signed contracts <br />
          every week
        </p>
      </div>
      <div class="work__banner3__review__item">
        <h1>$2.3B</h1>
        <p>
          freelancers earned on <br />
          Upwork in 2020
        </p>
      </div>
    </div>
  </div>

  <div class="work__banner4"></div>

  <div class="work__banner5">
    <h1>The work you want, all in one place</h1>
    <div class="work__banner5__cards">
      <div class="work__banner5__card">
        <div class="work__banner5__card__img">
          <img src="../../../../../assets/imgs/wbanner5-1.png" />
        </div>
        <h3>Create your free profile</h3>
        <p>
          Highlight your skills and experience, show your portfolio, and set
          your ideal pay rate.
        </p>
      </div>
      <div class="work__banner5__card">
        <div class="work__banner5__card__img">
          <img src="../../../../../assets/imgs/wbanner5-2.png" />
        </div>
        <h3>Work the way you want</h3>
        <p>
          Apply for jobs, create easy-to-buy projects, or access exclusive
          opportunities that come to you.
        </p>
      </div>
      <div class="work__banner5__card">
        <div class="work__banner5__card__img">
          <img src="../../../../../assets/imgs/wbanner5-3.png" />
        </div>
        <h3>Get paid securely</h3>
        <p>
          From contract to payment, we help you work safely and get paid
          securely.
        </p>
      </div>
    </div>
    <p>Want to know more ? <a> Here's how it works</a></p>
  </div>
</div>
