.fj {
  margin: 120px 120px 0;
  padding: 60px 250px;
  h1 {
    margin-top: 50px;
    font-size: 46px;
    color: var(--green-light);
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 30px;
  }
  &__buttons {
    display: flex;
    a {
      color: var(--green-light);
      margin-left: 100px;
      margin-top: 10px;
    }
  }
  li {
    list-style: none;
  }
  ul {
    padding: 0;
  }
  &__main {
    display: flex;
    margin-top: 50px;
    &__select {
      width: 265px;
      padding: 0 15px;
      h4 {
        font-size: 24px;
        padding: 40px 0 20px;
      }
      li {
        padding: 10px 0;
      }
    }
    &__show {
      padding: 0 15px;
      width: 870px;
      &__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 262px));
        grid-gap: 10px;
        li {
          color: var(--gray-dark);
        }
      }
    }
  }
}
