.auth {
  height: calc(100vh - 48px);
  margin: 24px;
  position: relative;
  &__logo {
    height: 22px;
    width: 80px;
  }

  &__form {
  }

  &__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 48px 0;
    background-color: var(--black);
    text-align: center;
    border-radius: 10px;
    p {
      color: var(--white);
      margin: 0;
      font-size: 14px;
    }
  }
}
