.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .carousel-slide {
    display: flex;
    width: 100vw; /* three items, each 100% wide */
    transition: transform 0.5s ease;

    .carousel-item {
      border-radius: 5px;

      &.itemmid {
        margin: 0 30px;
      }
    }
  }

  .carousel-dots {
    position: absolute;
    bottom: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(50%);

    div {
      padding: 10px 12px;
      margin: 10px;
      background-color: transparent;
      color: var(--green-light);
      border-radius: 50%;
      border: 2px solid var(--gray-light);
      &.active {
        color: transparent;
        border: none;
      }
    }
  }
}
